body {
  background-color: #8bc6ec;

  font-family: "Gelasio", serif;
}
.weather-app-container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 40px 30px rgba(0, 0, 0, 0.3);
}
header {
  border-bottom: 1px solid rgb(215, 221, 229, 0.6);
  padding-bottom: 30px;
}

.search-form-input {
  border: none;
  border-radius: 10px;
  width: 80%;
  background: #e4e8e5;
  font-size: 16px;
  font-family: "Gelasio", serif;
  line-height: 1.5;
  padding: 15px;
  opacity: 0.6;
}

.search-form-button {
  font-size: 16px;
  font-family: "Gelasio", serif;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: #027da6;
  color: white;
  line-height: 1.5;
  margin-left: 5px;
  transition: all ease-in-out 150ms;
}

.search-form-button:hover {
  opacity: 0.8;
}
main {
  padding: 30px 0;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-location {
  font-size: 50px;
  font-weight: 700;
  color: #00204a;
  margin-top: 0;
}
.current-conditions {
  font-size: 16px;
  color: rgb(117, 117, 117, 0.8);
}
.current-conditions strong {
  color: #005792;
}
.current-temperature {
  display: flex;
  justify-content: space-between;
  color: #00204a;
}
.current-weather-icon {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.current-temperature-value {
  font-size: 100px;
  font-weight: 700;
}
.current-temperature-sign {
  font-size: 40px;
  font-weight: 100;
  margin-top: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  color: rgb(117, 117, 117, 0.8);
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  color: #005792;
  font-weight: 400;
}
.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  padding: 0 10px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
footer {
  text-align: center;
  font-size: 13px;
  color: rgb(117, 117, 117, 0.8);
  padding-top: 30px;
  border-top: 1px solid rgb(215, 221, 229, 0.6);
}
a {
  color: #f5564e;
  text-decoration: none;
  font-weight: 600;
  transition: all ease-in-out 150ms;
}
a:hover {
  text-decoration: underline;
}
